{% extends "layout.html" %} {% block content %}
<section id="data" class="template-mesa">
    <h2 class="tm-portfolio-title">ADD <strong>PRODUCT</strong></h2>

    <body>Please fill parameters below to add new product to catalog:</body>
    <div class="row">
        <div class="container">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{form.name.label(class="form-control-label")}}
                        {% if form.name.errors%}
                            {{ form.name(class="form-control form-control-lg is-invalid") }}
                            <div class="is-invalid">
                                {% for error in form.name-errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.name(class="form-control", placeholder = form.name.description)}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{form.price_per_gm.label(class="form-control-label")}}
                        {% if form.price_per_gm.errors%}
                            {{ form.price_per_gm(class="form-control form-control-lg is-invalid") }}
                            <div class="is-invalid">
                                {% for error in form.name-errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.price_per_gm(class="form-control", placeholder = form.price_per_gm.description)}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{form.quantity.label(class="form-control-label")}}
                        {{form.quantity(class="form-control", placeholder = form.quantity.description)}}
                    </div>
                </fieldset>
                <div class="row">
                    {{ form.add(class="btn btn-default smoothScroll tm-view-more-btn") }}
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
