{% extends "layout.html" %}
{% block content %}
<h1>Edit Product</h1>
<body>Please fill parameters below to change product in catalog:
    <br>
    <br>
</body>
    <div class="content-section">    
        <form method="POST" action="">
            {{ form.hidden_tag() }}            
            <div class="form-group">
                {{form.name.label(class="form-control-label")}}
                {{form.name(class="form-control")}}   
            </div>      
            <div class="form-group">
                {{ form.edit(class="btn btn-outline-info") }}                
            </div>
        </form>
    </div>
{% endblock content %}