<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!-- SITE TITLE -->

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/templatemo-style.css">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600,700' rel='stylesheet' type='text/css'>
    <!--

-->
</head>

<!-- END CONTACT -->

<body data-spy="scroll" data-target="#rock-navigation">
    <!-- START NAVIGATION -->
    <div class="navbar navbar-default bs-dos-nav navbar-fixed-top sticky-navigation" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#rock-navigation">
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                    </button>
                <a href="#" class="navbar-brand">Ultra Profile</a>
            </div>
        </div>
    </div>
    <!-- END NAVIGATION -->

    <!-- START HOME -->
    <section id="home" class="templatemo-home">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-1"></div>
                <div class="col-md-8 col-sm-10">
                    <h1 class="tm-home-title"><strong>My Extremely Simple Apps</strong></h1>
                    <h2 class="tm-home-subtitle">Test Web Site</h2>
                    <p>This is a test site <strong>to try different </strong> and <strong>cutting-edge</strong> applications with Python, Flask and Heroku.<strong>Welcome</strong>.</p>
                    <a href="#work" class="btn btn-default smoothScroll tm-view-more-btn">Let's Begin</a>

                </div>
                <div class="col-md-2 col-sm-1"></div>
            </div>
        </div>
    </section>
    <!-- END HOME -->

    <!-- START work -->
    <section id="work" class="tm-padding-top-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-11">
                    <h2 class="title">My <strong>Work</strong></h2>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="work-wrapper">
                        <i class="fa fa-link"></i>
                        <br>
                        <a class="text-uppercase tm-work-h3" href="{{ url_for('getproductcatalog')}}">Products App</a>
                        <br>
                        <p>Simple app to view, add, edit and remove products from a ficticioius catalog. Also available through web API.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="work-wrapper">
                        <i class="fa fa-flash"></i>
                        <br>
                        <a class="text-uppercase tm-work-h3" href="{{ url_for('predictdiabetes')}}">Machine Learning</a>
                        <br>
                        <p>Sample machine Learning scenario to predict the probability of suffering diabtetes based on several parameters.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="work-wrapper">
                        <i class="fa fa-dashboard"></i>
                        <h3 class="text-uppercase tm-work-h3">Exchange Rate Calc</h3>
                        <p>Exchange rate calculator using web API. UNDER CONSTRUCTION.</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END work -->


    <!-- START SOCIAL -->
    <section id="social" class="tm-social">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 wow rotateInUpLeft" data-wow-delay="0.3s">
                    <div class="media facebook">
                        <a href="#">
                            <div class="media-object pull-left">
                                <i class="fa fa-facebook"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading tm-social-title">Follow me on</h4>
                                <h3>Facebook</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 wow rotateInUpLeft" data-wow-delay="0.6s">
                    <div class="media twitter">
                        <a href="#">
                            <div class="media-object pull-left">
                                <i class="fa fa-twitter"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading tm-social-title">Tweet me on</h4>
                                <h3>Twitter</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 wow rotateInUpLeft" data-wow-delay="0.9s">
                    <div class="media pinterest">
                        <a href="#">
                            <div class="media-object pull-left">
                                <i class="fa fa-pinterest"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading tm-social-title">Pin me on</h4>
                                <h3>Pinterest</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SOCIAL -->

    <!-- START CONTACT -->
    <section id="contact" class="tm-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title">Drop <strong>me a line</strong></h2>
                    <hr>
                </div>
                <div class="col-md-1 col-sm-1"></div>
                <div class="col-md-10 col-sm-10">
                    <form action="#" method="post">
                        <div class="col-md-6 col-sm-6">
                            <input class="form-control" type="text" placeholder="Your Name">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <input class="form-control" type="email" placeholder="Your Email">
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <input class="form-control" type="text" placeholder="Your Subject">
                            <textarea class="form-control" placeholder="Your Message" rows="6"></textarea>
                        </div>
                        <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                            <input class="form-control" type="submit" value="SHOOT MESSAGE">
                        </div>
                    </form>
                </div>
                <div class="col-md-1 col-sm-1"></div>
                <div class="col-md-12 col-sm-12">
                    <p>Copyright &copy; 2020 My Extremely Simple Apps</p>
                </div>
            </div>
        </div>
    </section>
    <!-- END CONTACT -->




    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/jquery.nav.js"></script>
    <script src="js/isotope.js"></script>
    <script src="js/imagesloaded.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>
