{% extends "layout.html" %} {% block content %}
<section id="data" class="template-mesa">
    <h2 class="tm-portfolio-title">REST API <strong>CATALOG</strong></h2>
    <br>
    <div class="row">
        <div class="container">
            <div class="media-object">
            <body>
                <p align="left">
                    API works with a sample data set simulating products in an inventory.
                    <br>
                    We can use each endpoint to manipulate this records and test each of them.
                    <br>
                    General call parameters are:
                    <br>
                    <br>
                    <strong>Method: </strong>POST
                    <br>
                    <strong>Header: </strong>Content-Type : application/json
                    <br>
                    <strong>Body: </strong>JSON
                </p>
                <p align="left">
                    <br>
                    <strong>Getproducts:</strong> List current products in catalog.
                    <pre align="left">
                        URI: /api/Getproducts
                        Returns json structure:
                {
                    "products": [
                      {
                        "name": "gold",
                        "price per gm": 60,
                        "quantity": 700
                      },
                      {
                        "name": "silver",
                        "price per gm": 23,
                        "quantity": 1500
                      }
                    ]
                  }
                    </pre>

                </p>
                <p align="left">
                    <br>
                    <strong>Addproducts:</strong> Add new products to catalog. It takes a json structure as follows:
                    <pre>
                        URI: /api/Addproducts

                        {
                            "name": "lead",
                            "price per gm": 0.002,
                            "quantity": 2000
                        }
                    Returns "Product added sucessfully" if transaction is OK.
                    </pre>

                </p>
                <p align="left">
                    <br>
                    <strong>Deleteproducts:</strong> Remove products from catalog.
                    <pre>
                        URI: /api/Deleteproducts
                        Simply pass the name of the article to delete:
                        {
                            "name":"copper"
                        }
                    </pre>

                <p align="left">
                    <br>
                    <strong>Edit Products:</strong> Edit existing product in catalog.
                    <pre>

                        URI: /api/Editproducts
                        Pass the article as you wish it to be uptaded:

                        {
                            "name":"lead",
                            "price per gm":0.04,
                            "quantity":1200
                        }
                    </pre>
                </p>

            </body>
        </div>
    </div>
</section>
{% endblock content %}
