body {
  background: #fafafa;
  color: #f5a442;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}


.bg-steel {
  background-color: #f5a442;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

table.dataframe, .dataframe th, .dataframe td {
  color: #444444;
  border: none;
  border-bottom: 1px solid #e6e4e2;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 1em;
}
tr:nth-child(even)		{ background-color:#eee; }
tr:nth-child(odd)	{ background-color:#fff; }

tr:hover            { background-color: #ffff99;}